<section class="pages-screen" >
<h1 class= "tittle">My costs</h1>
<div class= "pages-div">
<%= link_to 'Log-in', user_session_path, class: 'sign' %>
<%= link_to 'Sign up', new_user_registration_path, class: 'sign'%>
</div>
</section>