<section class="splash-screen">
<h1 class= "tittle">My costs</h1>
<div class= "splash-div">
<%= link_to 'Log-in', user_session_path, class: 'sign-btn' %>
<%= link_to 'Sign up', new_user_registration_path, class: 'sign-btn'%>
</div>
</section>